#
# {{ header_date }}
#

if(NOT DEFINED {{ package_var_part }}_ROOT_DIR)
    get_filename_component(_mlab_install_prefix "${CMAKE_CURRENT_LIST_DIR}/../../.." ABSOLUTE)
    set({{ package_var_part }}_ROOT_DIR "${_mlab_install_prefix}/{{ package_id }}")
endif()
