#
# {{ header_date }}
#

if(TARGET {{ name }}::{{ name }})
    return()
endif()

include(${CMAKE_CURRENT_LIST_DIR}/MeVisLabThirdPartyMacros.cmake)
include(${CMAKE_CURRENT_LIST_DIR}/{{name}}Targets.cmake)

{% if components %}
{% for comp_name, comp in components %}
### {{ name }}::{{ comp_name }}
set_property(TARGET {{name}}::{{comp_name}} PROPERTY INTERFACE_LINK_LIBRARIES
{% for config in configs %}
  $<$<CONFIG:{{config}}>:${{'{'}}{{name}}_{{comp_name}}_LINK_LIBS_{{config.upper()}}} ${{'{'}}{{name}}_{{comp_name}}_LINKER_FLAGS_LIST_{{config.upper()}}}>
{% endfor %}
)

set_property(TARGET {{name}}::{{comp_name}} PROPERTY INTERFACE_INCLUDE_DIRECTORIES
{% for config in configs %}
  $<$<CONFIG:{{config}}>:${{'{'}}{{name}}_{{comp_name}}_INCLUDE_DIRS_{{config.upper()}}}>
{% endfor %}
)

set_property(TARGET {{name}}::{{comp_name}} PROPERTY INTERFACE_COMPILE_DEFINITIONS
{% for config in configs %}
  $<$<CONFIG:{{config}}>:${{'{'}}{{name}}_{{comp_name}}_COMPILE_DEFINITIONS_{{config.upper()}}}>
{% endfor %}
)

set_property(TARGET {{name}}::{{comp_name}} PROPERTY INTERFACE_COMPILE_OPTIONS
{% for config in configs %}
  $<$<CONFIG:{{config}}>:${{'{'}}{{name}}_{{comp_name}}_COMPILE_OPTIONS_{{config.upper()}}_LIST}>
{% endfor %}
)
{% endfor %}
{% endif %}

### {{ name }}::{{ name }}
{% if components %}
set_property(TARGET {{name}}::{{name}} PROPERTY INTERFACE_LINK_LIBRARIES
{% for config in configs %}
  $<$<CONFIG:{{config}}>:${{'{'}}{{name}}_COMPONENTS_{{config.upper()}}}>
{% endfor %}
)
{% else %}
set_property(TARGET {{name}}::{{name}} PROPERTY INTERFACE_LINK_LIBRARIES
{% for config in configs %}
  $<$<CONFIG:{{config}}>:${{'{'}}{{name}}_LIBRARIES_TARGETS_{{config.upper()}}} ${{'{'}}{{name}}_LINKER_FLAGS_{{config.upper()}}_LIST}>
{% endfor %}
)

set_property(TARGET {{name}}::{{name}} PROPERTY INTERFACE_INCLUDE_DIRECTORIES
{% for config in configs %}
  $<$<CONFIG:{{config}}>:${{'{'}}{{name}}_INCLUDE_DIRS_{{config.upper()}}}>
{% endfor %}
)

set_property(TARGET {{name}}::{{name}} PROPERTY INTERFACE_COMPILE_DEFINITIONS
{% for config in configs %}
  $<$<CONFIG:{{config}}>:${{'{'}}{{name}}_COMPILE_DEFINITIONS_{{config.upper()}}}>
{% endfor %}
)

set_property(TARGET {{name}}::{{name}} PROPERTY INTERFACE_COMPILE_OPTIONS
{% for config in configs %}
  $<$<CONFIG:{{config}}>:${{'{'}}{{name}}_COMPILE_OPTIONS_{{config.upper()}}_LIST}>
{% endfor %}
)
{% endif %}


{% if public_deps_names %}
{% for dep in public_deps_names %}
if(NOT {{dep}}_FOUND)
  find_dependency({{dep}} REQUIRED NO_MODULE)
endif()
{% endfor %}
{% endif %}
