root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.yml]
tab_width = 2

[{Makefile, Makefile.am, Makefile.in,**.mk}]
indent_style = tab

[*.{diff, patch}]
charset = utf-8
end_of_line = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[**/sources/]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false
